workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

stages:
  - pre-build
  - build
  - test
  - deploy
  - doc

default:
  tags: [docker, linux]
  image: ghcr.io/astral-sh/uv:0.9.7-debian

variables:
  PACKAGE_NAME: "laboneq-applications"
  UV_PYTHON: "3.12"  # Default python version for CI
  RELEASE_DOCS:
    value: "false"
    description: "Whether to release the documentation to the public website"

# Execution rules:
.non_triggered:
  - if: $CI_PIPELINE_SOURCE == "pipeline"
    when: never
  - when: always

.triggered:
  - if: $CI_PIPELINE_SOURCE == "pipeline"
    when: always
  - when: never

.release-docs:
  - if: $RELEASE_DOCS == "true" && $CI_COMMIT_REF_PROTECTED == "true"

include:
  - local: ci/gitlab/pre-build.yml
  - local: ci/gitlab/test.yml
  - local: ci/gitlab/doc.yml
  - local: ci/gitlab/release.yml
