repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4 # must match the version used in pyproject.toml
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: local
    hooks:
      - id: check-license
        name: check-license
        entry: python ci/scripts/check_license.py src/ tests/ --fix
        language: system
        types: [python]
        pass_filenames: false
