{% extends "base.html" %}
{% block content %}
    <div id="app-wrapper">
        <div id="header">
            <img id="logo"
                 src="static/images/zhinst_logo_sep_horiz_2019.svg"
                 alt="Zurich Instruments">
            <img id="logo"
                 src="static/images/Logo_laboneq_automation.png"
                 alt="LabOne Q Automation">
            <div id="controls">
                <button id="btnResetZoom" class="controls-button" type="button">Reset Zoom</button>
                <button id="btnNodeView" class="controls-button" type="button">Node View</button>
                <button id="btnLayerView" class="controls-button" type="button">Layer View</button>
                <button id="btnRunAuto" class="controls-button" type="button">Run!</button>
                <button id="btnResetAuto" class="controls-button" type="button">Reset</button>
            </div>
        </div>
        <div id="graph"></div>
        <div id="status">Click a node to see details</div>
        <div id="status-legend">
            <h3>Status</h3>
            <div id="status-legend-items"></div>
        </div>
        <div id="layer-legend">
            <h3>Layers</h3>
            <div id="layer-legend-items"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
{% endblock %}
