{% extends "base.html" %}
{% block content %}
    <div id="app-wrapper">
        <div id="header">
            <div class="logo-group">
                <a href="https://www.zhinst.com/" target="_blank">
                    <img class="logo"
                         src="static/images/zhinst_logo_sep_horiz_2019.svg"
                         alt="Zurich Instruments"
                         title="Homepage"
                    >
                </a>
            </div>
            <div class="logo-group-center">
                <a href="https://docs.zhinst.com/labone_q_user_manual/applications_library/index.html"
                   target="_blank">
                    <img class="logo"
                         src="static/images/Logo_laboneq_automation.png"
                         alt="LabOne Q Automation"
                         title="Documentation"
                    >
                </a>
            </div>
            <div id="controls">
                <button id="btnLayerView" class="controls-button" type="button" title="Layer View">Layers</button>
                <button id="btnNodeView" class="controls-button" type="button" title="Node View">Nodes</button>
                <button id="btnResetZoom" class="controls-button controls-button-icon" type="button" title="Reset Zoom">&#x2922;</button>
                <button id="btnRunAuto" class="controls-button controls-button-icon" type="button" title="Run">&#x25B6;</button>
                <button id="btnResetAuto" class="controls-button controls-button-icon" type="button" title="Reset">&#x21BA;</button>
            </div>
        </div>
        <div id="graph"></div>
        <div id="status-legend" class="legend-panel">
            <h3>Status</h3>
            <div id="status-legend-items" class="legend-items"></div>
        </div>
        <div id="layer-legend" class="legend-panel">
            <h3>Layers</h3>
            <div id="layer-legend-items" class="legend-items"></div>
        </div>
        <div id="node-info" class="legend-panel" style="display:none">
            <h3>
                <span id="status-title"></span>
            </h3>
            <div id="node-info-rows" class="legend-items"></div>
        </div>
        <div id="image-modal" style="display:none">
            <img id="image-modal-img" src="" alt="Result image">
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plot.js') }}"></script>
{% endblock %}
